<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Home.css" />
   
    <title>Home</title>
</head>
<body>
    
    <ul class="navb">
        <li><a class="home" href="Home.html">Home page</a></li>
        <li><a href="Our-services.html">Our Services</a></li>
        <li><a href="Contact-us.html">Contact Us</a></li>
      </ul>
     
      
      <h1> Hi i'm the Home page ...</h1>
      <p>WELCOME !</p>
      
</body>
</html>